@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-bg {
  background-color: #ff7c00;
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(21, 21, 23, 0.834), rgba(21, 21, 23, 0.734));
    
  }
